<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, sapiente quos ipsum voluptatem asperiores aliquam soluta maxime, molestiae suscipit velit sed assumenda vitae. Dolorem deleniti velit quod magni quisquam inventore!</p>
    <p class="text-sm">Número de clientes: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/></p>
    <div>
        <app-wave-audio audioUrl="assets/saxophone_042624.mp3" />
    </div>
</div>